* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy, sans-serif;
}

html,
body {
    height: 100vh;
    width: 100vw;
    background-color: #e3dfdf;
}

header{
    width: 75%;
    background-color: rgb(209, 206, 206);
    height: 100px;
    margin: 0 auto;
}

#top-nav{
    display: flex;
    justify-content: space-between;
    margin: 0px
}

#nav-top-left{
    border: 2px solid;

}